body {
    padding: 10px;
    margin: 10px;
}



.form-check {
    display:block;
    width:50%;
    flex-wrap: wrap;
}

.form-check button {
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    height: 50%;
    width: 50%;
}

.searchbar {
    display: inline-flex;
    margin-bottom:30px;
}

h1 {
    padding: 10px
}

input {
    padding: 5px 5px;
    margin-left: 20px;
    margin-right: 20px;
    
}